
.graduation-hat-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.span {
  font-size: 16px;
  font-weight: 500;
}
.iit-delhi {
  font-weight: 600;
}
.span1 {
  font-size: 16px;
  font-weight: 500;
}
.an-iit-delhi-container {
  height: 30px;
  position: relative;
  display: inline-block;
}
.alumni-description {
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #ffa50b;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 23px;
  gap: 8px;
  white-space: nowrap;
  max-width: 100%;
}
.span2 {
  color: #000;
}
.data-science-with {
  color: #992e9d;
}
.become-an-expert-container {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 134.35%;
}
.extensive-online-courses {
  font-weight: 500;
}
.a-specially-crafted-container {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  color: #434347;
}
.become-an-expert-in-the-field-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 64px;
  color: #595961;
}
.award-star-icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.personal-mentorship {
  position: relative;
  letter-spacing: -0.03em;
  font-weight: 500;
}
.benefit-icons {
  border-radius: 100px;
  background-color: #fffcea;
  border: 1px solid #fff4c5;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px 11px;
  gap: 6px;
  white-space: nowrap;
}
.award-star-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.internship-assistance {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.03em;
  font-weight: 500;
  font-family: Poppins;
  color: #bb5302;
  text-align: left;
}
.payment {
  cursor: pointer;
  border: 1px solid #fff4c5;
  padding: 10px 15px 10px 11px;
  background-color: #fffcea;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  white-space: nowrap;
}
.award-star-parent:hover,
.payment:hover {
  background-color: #e6e3d1;
  border: 1px solid #e6dbab;
  box-sizing: border-box;
}
.award-star-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.industry-certified-courses {
  position: relative;
  font-size: 16px;
  letter-spacing: -0.03em;
  font-weight: 500;
  font-family: Poppins;
  color: #bb5302;
  text-align: left;
}
.award-star-parent {
  cursor: pointer;
  border: 1px solid #fff4c5;
  padding: 10px 15px 10px 11px;
  background-color: #fffcea;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  white-space: nowrap;
}
.alumni-initiative,
.benefit-icons-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.benefit-icons-parent {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 47px 0 0;
  gap: 14px;
  font-size: 16px;
  color: #bb5302;
}
.alumni-initiative {
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
}
.enroll-now {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  font-family: Poppins;
  color: #fcf5fe;
  text-align: left;
  display: inline-block;
  min-width: 95px;
}
.fi-br-paper-plane-icon {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.enroll-now-parent {
  cursor: pointer;
  border: 0;
  padding: 24px 48px;
  background-color: transparent;
  box-shadow: 0 8px 48px -10px rgba(153, 46, 157, 0.5);
  border-radius: 20px;
  background: linear-gradient(180deg, #b73bbe, #992e9d);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  white-space: nowrap;
}
.know-more {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 101px;
}
.fi-br-interrogation-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.action-buttons,
.solidbuttom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.solidbuttom {
  border-radius: 16px;
  overflow: hidden;
  justify-content: center;
  padding: 24px;
  gap: 6px;
}
.action-buttons {
  justify-content: flex-start;
  gap: 12px;
  max-width: 100%;
  font-size: 18px;
  color: #992e9d;
}
.find-your-offer,
.find-your-offer-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.find-your-offer {
  width: 766px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}
.find-your-offer-wrapper {
  width: 1022px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.enrollment-content,
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.header {
  align-self: stretch;
  gap: 62px;
  text-align: left;
  font-size: 20px;
  color: #434347;
  font-family: Poppins;
}
.enrollment-content {
  width: 1184px;
  gap: 96px;
}
.desktop-2,
.enrollment-content-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.enrollment-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  max-width: 100%;
}
.desktop-2 {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 400px;
  gap: 101px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .enrollment-content {
    gap: 48px;
  }
}
@media screen and (max-width: 750px) {
  .become-an-expert-container {
    font-size: 51px;
    line-height: 69px;
  }
  .benefit-icons-parent {
    padding-right: 23px;
    box-sizing: border-box;
  }
  .header {
    gap: 31px;
  }
  .enrollment-content {
    gap: 24px;
  }
  .desktop-2 {
    gap: 50px;
  }
}
@media screen and (max-width: 450px) {
  .become-an-expert-container {
    font-size: 38px;
    line-height: 52px;
  }
  .a-specially-crafted-container {
    font-size: 16px;
  }
  .action-buttons {
    flex-wrap: wrap;
  }
  .find-your-offer {
    gap: 16px;
  }
  .header {
    gap: 15px;
  }
  .desktop-2 {
    gap: 25px;
  }
}
